@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

$primary-color: #166f71;
$primary-font: 'inter';

body{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(67,192,173,1) 38%, rgb(247, 207, 121) 100%);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: $primary-font;
    #nav-bar{
        #title{
            color: black;
        }
    }
    #ticTacToe-grid{
        margin-block-end: 2rem;
        padding: 2rem;
        border: 2px solid black;
        border-radius: .7rem;
        background-color: whitesmoke;
        .cell{
            font-size: 3rem;
            transition: ease-in .2s;
        }
        .cell:hover{
            background-color: rgba(34,193,195,1);
            background-color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(67,192,173,1) 38%, rgb(247, 207, 121) 100%);
            color: rgb(247, 207, 121);

        }
    }
    background-color: rgb(247, 207, 121);
    #resetButton{
        border: solid 2px rgb(247, 207, 121);
        border-radius: .6rem;
        padding: .5rem;
    }
}